#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, auto);
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 85%;
    margin: auto;
}
#container>div>h5{
    padding-left: 20px;
}
#container>div>div{
    display: flex ;
    padding-left: 20px;
}
#container>div>div>p:nth-child(1){
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;
    margin-right: 10px;
}
#container>div>div>p:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: line-through;
}